function SpaceInvaders.establecerVista 0
push argument 0
push argument 1
push constant 0
not
call SpaceInvaders.S 3
pop temp 0
push argument 0
push constant 33
add
push argument 1
push constant 0
not
call SpaceInvaders.P 3
pop temp 0
push argument 0
push constant 63
add
push argument 1
push constant 3
sub
push constant 0
not
call SpaceInvaders.A 3
pop temp 0
push argument 0
push constant 96
add
push argument 1
push constant 3
sub
push constant 0
not
call SpaceInvaders.C 3
pop temp 0
push argument 0
push constant 123
add
push argument 1
push constant 3
sub
push constant 0
not
call SpaceInvaders.E 3
pop temp 0
push argument 0
push constant 3
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.I_ 3
pop temp 0
push argument 0
push constant 12
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.N_ 3
pop temp 0
push argument 0
push constant 33
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.V_ 3
pop temp 0
push argument 0
push constant 54
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.A_ 3
pop temp 0
push argument 0
push constant 75
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.D_ 3
pop temp 0
push argument 0
push constant 96
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.E_ 3
pop temp 0
push argument 0
push constant 117
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.R_ 3
pop temp 0
push argument 0
push constant 138
add
push argument 1
push constant 66
add
push constant 0
not
call SpaceInvaders.S_ 3
pop temp 0
push argument 0
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.P2 3
pop temp 0
push argument 0
push constant 10
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.R2 3
pop temp 0
push argument 0
push constant 20
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.E2 3
pop temp 0
push argument 0
push constant 30
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.S2 3
pop temp 0
push argument 0
push constant 40
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.I2 3
pop temp 0
push argument 0
push constant 50
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.O2 3
pop temp 0
push argument 0
push constant 60
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.N2 3
pop temp 0
push argument 0
push constant 70
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.A2 3
pop temp 0
push argument 0
push constant 90
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.E2 3
pop temp 0
push argument 0
push constant 100
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.S2 3
pop temp 0
push argument 0
push constant 110
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.P2 3
pop temp 0
push argument 0
push constant 120
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.A2 3
pop temp 0
push argument 0
push constant 130
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.C2 3
pop temp 0
push argument 0
push constant 140
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.I2 3
pop temp 0
push argument 0
push constant 150
add
push argument 1
push constant 150
add
push constant 0
not
call SpaceInvaders.O2 3
pop temp 0
push constant 0
return
function SpaceInvaders.dibujarRectangulo3 0
push argument 0
push argument 2
push constant 3
call Math.multiply 2
add
push argument 1
push argument 3
push constant 3
call Math.multiply 2
add
push argument 0
push argument 4
push constant 1
add
push constant 3
call Math.multiply 2
add
push argument 1
push argument 5
push constant 1
add
push constant 3
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function SpaceInvaders.dibujarRectangulo 0
push argument 0
push argument 2
add
push argument 1
push argument 3
add
push argument 0
push argument 4
push constant 1
add
add
push argument 1
push argument 5
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function SpaceInvaders.S 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 4
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 2
push constant 7
push constant 6
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 1
push constant 6
push constant 1
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 0
push constant 6
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 3
push constant 10
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 9
push constant 5
push constant 11
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 6
push constant 10
push constant 6
push constant 12
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 10
push constant 7
push constant 18
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 11
push constant 8
push constant 17
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 15
push constant 6
push constant 18
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 13
push constant 4
push constant 16
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 17
push constant 4
push constant 17
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.P 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 0
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 6
push constant 11
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 1
push constant 7
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 2
push constant 8
push constant 8
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 12
push constant 3
push constant 18
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 4
push constant 5
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.A 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 5
push constant 2
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 6
push constant 19
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 1
push constant 10
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 5
push constant 7
push constant 10
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 14
push constant 1
push constant 17
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 7
push constant 14
push constant 7
push constant 17
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 16
push constant 0
push constant 16
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 8
push constant 16
push constant 8
push constant 16
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 8
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 8
push constant 5
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 13
push constant 4
push constant 19
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 15
push constant 5
push constant 15
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.C 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 6
push constant 0
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 7
push constant 1
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 3
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 5
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 6
push constant 2
push constant 8
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 5
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 10
push constant 2
push constant 15
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 14
push constant 6
push constant 15
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 16
push constant 6
push constant 16
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 17
push constant 5
push constant 17
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 18
push constant 4
push constant 19
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.E 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 0
push constant 9
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 5
push constant 4
push constant 11
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 5
push constant 9
push constant 6
push constant 11
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 5
push constant 2
push constant 14
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 10
push constant 1
push constant 14
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 15
push constant 2
push constant 19
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 16
push constant 5
push constant 19
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.I_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.N_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 5
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 4
push constant 3
push constant 6
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 0
push constant 5
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.V_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 0
push constant 5
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 8
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.A_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 2
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.D_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 1
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 2
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.E_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 1
push constant 4
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 6
push constant 4
push constant 8
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.R_ 0
push argument 0
push argument 1
push argument 2
call SpaceInvaders.A_ 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 5
push constant 4
push constant 5
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.S_ 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 1
push constant 4
push constant 1
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 1
push constant 4
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 3
push constant 5
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 6
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 8
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 7
push constant 1
push constant 7
call SpaceInvaders.dibujarRectangulo3 6
pop temp 0
push constant 0
return
function SpaceInvaders.A2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 4
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 2
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.P2 0
push argument 0
push argument 1
push argument 2
call SpaceInvaders.A2 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 6
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.R2 0
push argument 0
push argument 1
push argument 2
call SpaceInvaders.A2 3
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 5
push constant 4
push constant 5
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.E2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 4
push constant 3
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 7
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.S2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 0
push constant 3
push constant 0
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 1
push constant 4
push constant 1
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 1
push constant 4
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 5
push constant 3
push constant 5
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 6
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 1
push constant 8
push constant 3
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 7
push constant 0
push constant 7
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.C2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 4
push constant 7
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.I2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.N2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 1
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 3
push constant 2
push constant 5
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 4
push constant 3
push constant 6
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 4
push constant 0
push constant 5
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
function SpaceInvaders.O2 0
push argument 2
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 0
push constant 4
push constant 1
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 8
push constant 4
push constant 9
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 0
push constant 1
push constant 1
push constant 8
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 0
push argument 1
push constant 3
push constant 1
push constant 4
push constant 8
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 2
push constant 2
push constant 2
push constant 7
call SpaceInvaders.dibujarRectangulo 6
pop temp 0
push constant 0
return
